In [1]:
import pandas as pd

In [2]:
from IPython.display import IFrame
IFrame('https://regexr.com/', width=800, height=400)

In [5]:
df = pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/gem.txt', names=['text'])
df

                                    text
0               Amber (แอมเบอร์) = อำพัน
1     Amethyst (แอมมิธิสท์) = พลอยสีม่วง
2            Crystal (คริสทัล) = คริสตัล
3               Diamond (ไดมอนด์) = เพชร
4          Emerald (เอมเมอเริลด์) = มรกต
5               Garnet (การ์เนท) = โกเมน
6                   Gold (โกลด์) = ทองคำ
7                       Jade (เจด) = หยก
8                        Jet (เจท) = นิล
9                  Opal (โอเพิล) = โอปอล
10               Pearl (เพิร์ล) = ไข่มุก
11        Platinum (แพลทินัม) = ทองคำขาว
12                  Ruby (รูบิ) = ทับทิม
13          Sapphire (แซพไฟเออะ) = ไพลิน
14              Silver (ซิลเวอร์) = เงิน
15  Turquoise (เทอร์ควอยซ) = เทอร์ควอยซ์
16               Zircon (เซอคอน) = เพทาย

In [7]:
from IPython.display import IFrame
IFrame('https://jrgraphix.net/r/Unicode/0E00-0E7F', width=800, height=400)

In [6]:
df['text'].str.extract('(\w+)')

            0
0       Amber
1    Amethyst
2     Crystal
3     Diamond
4     Emerald
5      Garnet
6        Gold
7        Jade
8         Jet
9        Opal
10      Pearl
11   Platinum
12       Ruby
13   Sapphire
14     Silver
15  Turquoise
16     Zircon

In [8]:
df['text'].str.extract(r'([\u0E00-\u0E7F]+)')

               0
0       แอมเบอร์
1     แอมมิธิสท์
2        คริสทัล
3        ไดมอนด์
4   เอมเมอเริลด์
5        การ์เนท
6          โกลด์
7            เจด
8            เจท
9         โอเพิล
10        เพิร์ล
11      แพลทินัม
12          รูบิ
13     แซพไฟเออะ
14      ซิลเวอร์
15    เทอร์ควอยซ
16        เซอคอน

In [10]:
df

                                    text
0               Amber (แอมเบอร์) = อำพัน
1     Amethyst (แอมมิธิสท์) = พลอยสีม่วง
2            Crystal (คริสทัล) = คริสตัล
3               Diamond (ไดมอนด์) = เพชร
4          Emerald (เอมเมอเริลด์) = มรกต
5               Garnet (การ์เนท) = โกเมน
6                   Gold (โกลด์) = ทองคำ
7                       Jade (เจด) = หยก
8                        Jet (เจท) = นิล
9                  Opal (โอเพิล) = โอปอล
10               Pearl (เพิร์ล) = ไข่มุก
11        Platinum (แพลทินัม) = ทองคำขาว
12                  Ruby (รูบิ) = ทับทิม
13          Sapphire (แซพไฟเออะ) = ไพลิน
14              Silver (ซิลเวอร์) = เงิน
15  Turquoise (เทอร์ควอยซ) = เทอร์ควอยซ์
16               Zircon (เซอคอน) = เพทาย

In [9]:
df['text'].str.extract(r'([\u0E00-\u0E7F]+$)')

              0
0         อำพัน
1    พลอยสีม่วง
2       คริสตัล
3          เพชร
4          มรกต
5         โกเมน
6         ทองคำ
7           หยก
8           นิล
9         โอปอล
10       ไข่มุก
11     ทองคำขาว
12       ทับทิม
13        ไพลิน
14         เงิน
15  เทอร์ควอยซ์
16        เพทาย

In [11]:
df[:5]

                                 text
0            Amber (แอมเบอร์) = อำพัน
1  Amethyst (แอมมิธิสท์) = พลอยสีม่วง
2         Crystal (คริสทัล) = คริสตัล
3            Diamond (ไดมอนด์) = เพชร
4       Emerald (เอมเมอเริลด์) = มรกต

In [16]:
dt = df['text'].str.extract(r'(\w+)\s+\(([\u0E00-\u0E7F]+)\)\s+\=\s+([\u0E00-\u0E7F]+)')
dt.columns = ['en', 'pron', 'th']
dt

           en          pron           th
0       Amber      แอมเบอร์        อำพัน
1    Amethyst    แอมมิธิสท์   พลอยสีม่วง
2     Crystal       คริสทัล      คริสตัล
3     Diamond       ไดมอนด์         เพชร
4     Emerald  เอมเมอเริลด์         มรกต
5      Garnet       การ์เนท        โกเมน
6        Gold         โกลด์        ทองคำ
7        Jade           เจด          หยก
8         Jet           เจท          นิล
9        Opal        โอเพิล        โอปอล
10      Pearl        เพิร์ล       ไข่มุก
11   Platinum      แพลทินัม     ทองคำขาว
12       Ruby          รูบิ       ทับทิม
13   Sapphire     แซพไฟเออะ        ไพลิน
14     Silver      ซิลเวอร์         เงิน
15  Turquoise    เทอร์ควอยซ  เทอร์ควอยซ์
16     Zircon        เซอคอน        เพทาย

In [18]:
dt = df['text'].str.extract(r'(?P<eng>\w+)\s+\((?P<pron>[\u0E00-\u0E7F]+)\)\s+\=\s+(?P<thai>[\u0E00-\u0E7F]+)')
# dt.columns = ['en', 'pron', 'th']
dt

          eng          pron         thai
0       Amber      แอมเบอร์        อำพัน
1    Amethyst    แอมมิธิสท์   พลอยสีม่วง
2     Crystal       คริสทัล      คริสตัล
3     Diamond       ไดมอนด์         เพชร
4     Emerald  เอมเมอเริลด์         มรกต
5      Garnet       การ์เนท        โกเมน
6        Gold         โกลด์        ทองคำ
7        Jade           เจด          หยก
8         Jet           เจท          นิล
9        Opal        โอเพิล        โอปอล
10      Pearl        เพิร์ล       ไข่มุก
11   Platinum      แพลทินัม     ทองคำขาว
12       Ruby          รูบิ       ทับทิม
13   Sapphire     แซพไฟเออะ        ไพลิน
14     Silver      ซิลเวอร์         เงิน
15  Turquoise    เทอร์ควอยซ  เทอร์ควอยซ์
16     Zircon        เซอคอน        เพทาย

In [19]:
dt = df['text'].str.extract(r'(\w+)\s+\((\D+)\)\s+\=\s+(\D+)')
dt.columns = ['en', 'pron', 'th']
dt

           en          pron           th
0       Amber      แอมเบอร์        อำพัน
1    Amethyst    แอมมิธิสท์   พลอยสีม่วง
2     Crystal       คริสทัล      คริสตัล
3     Diamond       ไดมอนด์         เพชร
4     Emerald  เอมเมอเริลด์         มรกต
5      Garnet       การ์เนท        โกเมน
6        Gold         โกลด์        ทองคำ
7        Jade           เจด          หยก
8         Jet           เจท          นิล
9        Opal        โอเพิล        โอปอล
10      Pearl        เพิร์ล       ไข่มุก
11   Platinum      แพลทินัม     ทองคำขาว
12       Ruby          รูบิ       ทับทิม
13   Sapphire     แซพไฟเออะ        ไพลิน
14     Silver      ซิลเวอร์         เงิน
15  Turquoise    เทอร์ควอยซ  เทอร์ควอยซ์
16     Zircon        เซอคอน        เพทาย