## diff(), pct_change()

In [1]:
# import pandas as pd
# import numpy as np
import pyforest 
print(f'pyforest version: {pyforest.__version__}')

pyforest version: 1.1.0

### Single group (single stock daily price)

In [2]:
bbl = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/eod/bbl.csv',
                 index_col='Date', parse_dates=True)
bbl

             Open   High    Low  Close   Adj Close     Volume
Date
2017-02-01  174.5  175.5  173.5  175.5  169.355362  5953500.0
2017-02-02  175.0  177.0  174.5  175.5  169.355362  5250500.0
2017-02-03  175.0  178.5  175.0  178.5  172.250336  5470600.0
2017-02-06  178.5  181.5  178.5  180.5  174.180313  8150800.0
2017-02-07  180.5  181.0  179.0  180.0  173.697815  3648600.0
2017-02-08  180.0  180.0  178.5  179.0  172.732819  2574200.0
2017-02-09  179.5  182.5  179.5  181.0  174.662796  7290700.0
2017-02-10  182.0  182.5  181.0  182.5  176.110275  3589100.0
2017-02-13  182.5  182.5  182.5  182.5  176.110275        0.0
2017-02-14  182.0  182.5  179.0  179.0  172.732819  2841700.0

In [3]:
bbl.Close.diff()

Date
2017-02-01    NaN
2017-02-02    0.0
2017-02-03    3.0
2017-02-06    2.0
2017-02-07   -0.5
2017-02-08   -1.0
2017-02-09    2.0
2017-02-10    1.5
2017-02-13    0.0
2017-02-14   -3.5
Name: Close, dtype: float64

In [4]:
bbl['chg'] = bbl.Close.diff()
bbl

             Open   High    Low  Close   Adj Close     Volume  chg
Date
2017-02-01  174.5  175.5  173.5  175.5  169.355362  5953500.0  NaN
2017-02-02  175.0  177.0  174.5  175.5  169.355362  5250500.0  0.0
2017-02-03  175.0  178.5  175.0  178.5  172.250336  5470600.0  3.0
2017-02-06  178.5  181.5  178.5  180.5  174.180313  8150800.0  2.0
2017-02-07  180.5  181.0  179.0  180.0  173.697815  3648600.0 -0.5
2017-02-08  180.0  180.0  178.5  179.0  172.732819  2574200.0 -1.0
2017-02-09  179.5  182.5  179.5  181.0  174.662796  7290700.0  2.0
2017-02-10  182.0  182.5  181.0  182.5  176.110275  3589100.0  1.5
2017-02-13  182.5  182.5  182.5  182.5  176.110275        0.0  0.0
2017-02-14  182.0  182.5  179.0  179.0  172.732819  2841700.0 -3.5

In [5]:
bbl['Close'].pct_change()

Date
2017-02-01         NaN
2017-02-02    0.000000
2017-02-03    0.017094
2017-02-06    0.011204
2017-02-07   -0.002770
2017-02-08   -0.005556
2017-02-09    0.011173
2017-02-10    0.008287
2017-02-13    0.000000
2017-02-14   -0.019178
Name: Close, dtype: float64

In [6]:
bbl['pct_chg'] = bbl['Close'].pct_change()
bbl

             Open   High    Low  Close   Adj Close     Volume  chg   pct_chg
Date
2017-02-01  174.5  175.5  173.5  175.5  169.355362  5953500.0  NaN       NaN
2017-02-02  175.0  177.0  174.5  175.5  169.355362  5250500.0  0.0  0.000000
2017-02-03  175.0  178.5  175.0  178.5  172.250336  5470600.0  3.0  0.017094
2017-02-06  178.5  181.5  178.5  180.5  174.180313  8150800.0  2.0  0.011204
2017-02-07  180.5  181.0  179.0  180.0  173.697815  3648600.0 -0.5 -0.002770
2017-02-08  180.0  180.0  178.5  179.0  172.732819  2574200.0 -1.0 -0.005556
2017-02-09  179.5  182.5  179.5  181.0  174.662796  7290700.0  2.0  0.011173
2017-02-10  182.0  182.5  181.0  182.5  176.110275  3589100.0  1.5  0.008287
2017-02-13  182.5  182.5  182.5  182.5  176.110275        0.0  0.0  0.000000
2017-02-14  182.0  182.5  179.0  179.0  172.732819  2841700.0 -3.5 -0.019178

log return = $ln\big(\frac{p_t}{p_{t-1}}\big) = ln(p_t)-ln(p_{t-1})$

In [7]:
np.log(178.5/175.5)

0.016949558313773205

In [8]:
np.log(178.5)-np.log(175.5)

0.016949558313772428

In [9]:
np.log(bbl.Close)

Date
2017-02-01    5.167639
2017-02-02    5.167639
2017-02-03    5.184589
2017-02-06    5.195731
2017-02-07    5.192957
2017-02-08    5.187386
2017-02-09    5.198497
2017-02-10    5.206750
2017-02-13    5.206750
2017-02-14    5.187386
Name: Close, dtype: float64

In [10]:
bbl['Close_ln'] = np.log(bbl.Close)
bbl

,Open,High,Low,Close,Adj Close,Volume,chg,pct_chg,Close_ln
Date,,,,,,,,,
2017-02-01,174.5,175.5,173.5,175.5,169.355362,5953500.0,NaN,NaN,5.167639
2017-02-02,175.0,177.0,174.5,175.5,169.355362,5250500.0,0.0,0.000000,5.167639
2017-02-03,175.0,178.5,175.0,178.5,172.250336,5470600.0,3.0,0.017094,5.184589
2017-02-06,178.5,181.5,178.5,180.5,174.180313,8150800.0,2.0,0.011204,5.195731
2017-02-07,180.5,181.0,179.0,180.0,173.697815,3648600.0,-0.5,-0.002770,5.192957
2017-02-08,180.0,180.0,178.5,179.0,172.732819,2574200.0,-1.0,-0.005556,5.187386
2017-02-09,179.5,182.5,179.5,181.0,174.662796,7290700.0,2.0,0.011173,5.198497
2017-02-10,182.0,182.5,181.0,182.5,176.110275,3589100.0,1.5,0.008287,5.206750
2017-02-13,182.5,182.5,182.5,182.5,176.110275,0.0,0.0,0.000000,5.206750
2017-02-14,182.0,182.5,179.0,179.0,172.732819,2841700.0,-3.5,-0.019178,5.187386

In [11]:
bbl['Close_ln'].diff()

Date
2017-02-01         NaN
2017-02-02    0.000000
2017-02-03    0.016950
2017-02-06    0.011142
2017-02-07   -0.002774
2017-02-08   -0.005571
2017-02-09    0.011111
2017-02-10    0.008253
2017-02-13    0.000000
2017-02-14   -0.019364
Name: Close_ln, dtype: float64

In [12]:
bbl['ln_return'] = bbl['Close_ln'].diff()
bbl

,Open,High,Low,Close,Adj Close,Volume,chg,pct_chg,Close_ln,ln_return
Date,,,,,,,,,,
2017-02-01,174.5,175.5,173.5,175.5,169.355362,5953500.0,NaN,NaN,5.167639,NaN
2017-02-02,175.0,177.0,174.5,175.5,169.355362,5250500.0,0.0,0.000000,5.167639,0.000000
2017-02-03,175.0,178.5,175.0,178.5,172.250336,5470600.0,3.0,0.017094,5.184589,0.016950
2017-02-06,178.5,181.5,178.5,180.5,174.180313,8150800.0,2.0,0.011204,5.195731,0.011142
2017-02-07,180.5,181.0,179.0,180.0,173.697815,3648600.0,-0.5,-0.002770,5.192957,-0.002774
2017-02-08,180.0,180.0,178.5,179.0,172.732819,2574200.0,-1.0,-0.005556,5.187386,-0.005571
2017-02-09,179.5,182.5,179.5,181.0,174.662796,7290700.0,2.0,0.011173,5.198497,0.011111
2017-02-10,182.0,182.5,181.0,182.5,176.110275,3589100.0,1.5,0.008287,5.206750,0.008253
2017-02-13,182.5,182.5,182.5,182.5,176.110275,0.0,0.0,0.000000,5.206750,0.000000
2017-02-14,182.0,182.5,179.0,179.0,172.732819,2841700.0,-3.5,-0.019178,5.187386,-0.019364

In [13]:
np.log(bbl.Close).diff()

Date
2017-02-01         NaN
2017-02-02    0.000000
2017-02-03    0.016950
2017-02-06    0.011142
2017-02-07   -0.002774
2017-02-08   -0.005571
2017-02-09    0.011111
2017-02-10    0.008253
2017-02-13    0.000000
2017-02-14   -0.019364
Name: Close, dtype: float64

In [14]:
bbl['ln_return2'] = np.log(bbl.Close).diff()
bbl

,Open,High,Low,Close,Adj Close,Volume,chg,pct_chg,Close_ln,ln_return,ln_return2
Date,,,,,,,,,,,
2017-02-01,174.5,175.5,173.5,175.5,169.355362,5953500.0,NaN,NaN,5.167639,NaN,NaN
2017-02-02,175.0,177.0,174.5,175.5,169.355362,5250500.0,0.0,0.000000,5.167639,0.000000,0.000000
2017-02-03,175.0,178.5,175.0,178.5,172.250336,5470600.0,3.0,0.017094,5.184589,0.016950,0.016950
2017-02-06,178.5,181.5,178.5,180.5,174.180313,8150800.0,2.0,0.011204,5.195731,0.011142,0.011142
2017-02-07,180.5,181.0,179.0,180.0,173.697815,3648600.0,-0.5,-0.002770,5.192957,-0.002774,-0.002774
2017-02-08,180.0,180.0,178.5,179.0,172.732819,2574200.0,-1.0,-0.005556,5.187386,-0.005571,-0.005571
2017-02-09,179.5,182.5,179.5,181.0,174.662796,7290700.0,2.0,0.011173,5.198497,0.011111,0.011111
2017-02-10,182.0,182.5,181.0,182.5,176.110275,3589100.0,1.5,0.008287,5.206750,0.008253,0.008253
2017-02-13,182.5,182.5,182.5,182.5,176.110275,0.0,0.0,0.000000,5.206750,0.000000,0.000000
2017-02-14,182.0,182.5,179.0,179.0,172.732819,2841700.0,-3.5,-0.019178,5.187386,-0.019364,-0.019364

## diff(), pct_change() in groupby()

### multiple stocks: daily price

In [15]:
df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/eod1.csv',
                index_col='Date', parse_dates=True)
df

,Symbol,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2017-02-01,bbl,174.500000,175.500000,173.500000,175.500000,169.355362,5953500.0
2017-02-02,bbl,175.000000,177.000000,174.500000,175.500000,169.355362,5250500.0
2017-02-03,bbl,175.000000,178.500000,175.000000,178.500000,172.250336,5470600.0
2017-02-06,bbl,178.500000,181.500000,178.500000,180.500000,174.180313,8150800.0
2017-02-07,bbl,180.500000,181.000000,179.000000,180.000000,173.697815,3648600.0
2017-02-01,ktb,19.000000,19.200001,18.900000,19.200001,18.366062,21752200.0
2017-02-02,ktb,19.200001,19.200001,18.900000,19.000000,18.174747,40206000.0
2017-02-03,ktb,19.000000,19.100000,18.900000,19.100000,18.270405,48912400.0
2017-02-06,ktb,19.200001,19.299999,18.900000,19.000000,18.174747,77639200.0
2017-02-07,ktb,18.900000,19.100000,18.799999,19.000000,18.174747,49866700.0
2017-02-01,scb,150.500000,153.000000,150.500000,152.000000,146.727814,6969200.0
2017-02-02,scb,152.000000,153.000000,151.000000,151.000000,145.762512,6529100.0
2017-02-03,scb,151.000000,153.500000,151.000000,153.000000,147.693130,6597700.0
2017-02-06,scb,154.000000,155.000000,153.500000,154.500000,149.141098,9901200.0
2017-02-07,scb,154.500000,155.000000,153.500000,154.000000,148.658447,3802600.0

In [16]:
df.Close.diff()

Date
2017-02-01           NaN
2017-02-02      0.000000
2017-02-03      3.000000
2017-02-06      2.000000
2017-02-07     -0.500000
2017-02-01   -160.799999
2017-02-02     -0.200001
2017-02-03      0.100000
2017-02-06     -0.100000
2017-02-07      0.000000
2017-02-01    133.000000
2017-02-02     -1.000000
2017-02-03      2.000000
2017-02-06      1.500000
2017-02-07     -0.500000
Name: Close, dtype: float64

In [21]:
df

,Symbol,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2017-02-01,bbl,174.500000,175.500000,173.500000,175.500000,169.355362,5953500.0
2017-02-02,bbl,175.000000,177.000000,174.500000,175.500000,169.355362,5250500.0
2017-02-03,bbl,175.000000,178.500000,175.000000,178.500000,172.250336,5470600.0
2017-02-06,bbl,178.500000,181.500000,178.500000,180.500000,174.180313,8150800.0
2017-02-07,bbl,180.500000,181.000000,179.000000,180.000000,173.697815,3648600.0
2017-02-01,ktb,19.000000,19.200001,18.900000,19.200001,18.366062,21752200.0
2017-02-02,ktb,19.200001,19.200001,18.900000,19.000000,18.174747,40206000.0
2017-02-03,ktb,19.000000,19.100000,18.900000,19.100000,18.270405,48912400.0
2017-02-06,ktb,19.200001,19.299999,18.900000,19.000000,18.174747,77639200.0
2017-02-07,ktb,18.900000,19.100000,18.799999,19.000000,18.174747,49866700.0
2017-02-01,scb,150.500000,153.000000,150.500000,152.000000,146.727814,6969200.0
2017-02-02,scb,152.000000,153.000000,151.000000,151.000000,145.762512,6529100.0
2017-02-03,scb,151.000000,153.500000,151.000000,153.000000,147.693130,6597700.0
2017-02-06,scb,154.000000,155.000000,153.500000,154.500000,149.141098,9901200.0
2017-02-07,scb,154.500000,155.000000,153.500000,154.000000,148.658447,3802600.0

In [22]:
df.groupby('Symbol')

In [23]:
df.get_group

AttributeError: 'DataFrame' object has no attribute 'get_group'