In [2]:
import pandas as pd
print(f'pandas version: {pd.__version__}')

pandas version: 1.1.3

In [3]:
df = pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/mpg30.csv')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
7,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
8,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
9,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
10,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
18,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
19,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
20,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
21,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
22,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
23,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
24,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
25,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
28,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
29,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize

In [4]:
df[df.manufacturer == 'audi']

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact

In [5]:
df[df['manufacturer'] == 'audi']

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact

In [6]:
df.query('manufacturer == "audi"')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact

In [7]:
df[df['manufacturer'] != 'audi']

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
7,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
8,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
9,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
10,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
18,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
19,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
20,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
21,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
22,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
23,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
24,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
25,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
28,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
29,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize

In [8]:
df.query('manufacturer != "audi"')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
7,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
8,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
9,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
10,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
18,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
19,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
20,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
21,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
22,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
23,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
24,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
25,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
28,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
29,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize

In [9]:
df[df.cty >= 20]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
24,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact

In [10]:
df[(df.cty >= 15) & (df.cty < 20)]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
7,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
8,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
10,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
18,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
22,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
23,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
25,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
28,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
29,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize

In [11]:
df.query('15 <= cty < 20')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
7,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
8,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
10,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
18,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
22,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
23,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
25,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
28,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
29,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize

In [12]:
df[(df.manufacturer == 'toyota') & (df.cty > 10)]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv

In [13]:
df.query('manufacturer == "toyota" and cty > 10')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv

In [14]:
df[(df.manufacturer == 'toyota') | (df.manufacturer == 'nissan') | (df.manufacturer == 'honda')]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
21,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv

In [15]:
df[df.manufacturer.isin(['toyota', 'nissan', 'honda'])]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
21,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv

In [16]:
df.query('manufacturer in ["toyota", "nissan", "honda"]')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
21,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv

In [17]:
df[~df.manufacturer.isin(['toyota', 'nissan', 'honda'])]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
7,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
8,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
9,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
10,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
18,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
19,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
20,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
22,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
23,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
24,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
25,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
28,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
29,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize

In [18]:
df.query('manufacturer not in ["toyota", "nissan", "honda"]')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
7,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
8,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
9,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
10,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
18,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
19,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
20,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
22,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
23,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
24,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
25,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
28,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
29,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize

In [19]:
df[(df.cty > 20) & (df.cty < 30) & (df.drv.isin(['4', 'f']))]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
24,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact

In [20]:
df.query('20 < cty < 30 and drv in ["4", "f"]')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
24,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact

In [21]:
df.manufacturer.unique()

array(['audi', 'chevrolet', 'dodge', 'ford', 'honda', 'hyundai', 'jeep',
       'land rover', 'nissan', 'pontiac', 'subaru', 'toyota',
       'volkswagen'], dtype=object)

In [22]:
df.model.unique()

array(['a4 quattro', 'a4', 'c1500 suburban 2wd', 'malibu',
       'dakota pickup 4wd', 'caravan 2wd', 'durango 4wd', 'explorer 4wd',
       'mustang', 'f150 pickup 4wd', 'civic', 'tiburon',
       'grand cherokee 4wd', 'range rover', 'pathfinder 4wd',
       'grand prix', 'forester awd', 'impreza awd', 'toyota tacoma 4wd',
       '4runner 4wd', 'passat'], dtype=object)

### String methods

In [24]:
df[df.manufacturer.str.startswith('f')] # start with doesn't support regex

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact

In [25]:
df[df.manufacturer.str.match('[af]')] # start with 'a' or 'f'

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact

In [26]:
df[df.manufacturer.str.match('[^adf]')] # not start with 'a' or 'd' or 'f'

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
18,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
19,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
20,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
21,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
22,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
23,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
24,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
25,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
28,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
29,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize

In [32]:
df[df.manufacturer.str.match('[a-f]')] # start with 'a' to 'f' (abcdef)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
7,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
8,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
9,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
10,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact

In [33]:
df[df.model.str.match('a\d')] # start with 'a' and follow by number

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact

In [34]:
df[df.model.str.match('\d')] # start with number

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv

In [35]:
df[df.model.str.match('.i')] # ตัวที่ 2 เป็นตัว i

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
18,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact