## Contents
- [Comparison](#Comparison)
- [Check for missing values](#Check-missing-values)

In [2]:
import pandas as pd

## Mammal Sleep Data

In [3]:
df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/msleep.csv')
df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230

## Comparison

In [4]:
df.sleep_total > 10

0      True
1      True
2      True
3      True
4     False
      ...
78    False
79    False
80    False
81     True
82    False
Name: sleep_total, Length: 83, dtype: bool

In [6]:
df[df.sleep_total > 10].head(5)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Three-toed sloth,Bradypus,herbi,Pilosa,NaN,14.4,2.2,0.766667,9.6,NaN,3.850

In [7]:
(df.sleep_total > 10).any()

True

In [8]:
(df.sleep_total > 10).all()

False

In [9]:
(df.sleep_total > 10).sum()

44

In [10]:
df[df.sleep_total > 10].any(axis=1).sum()

44

In [12]:
df.sleep_total > df.awake

0      True
1      True
2      True
3      True
4     False
      ...
78    False
79    False
80    False
81     True
82    False
Length: 83, dtype: bool

In [13]:
(df.sleep_total > df.awake).any()

True

In [14]:
(df.sleep_total > df.awake).all()

False

In [15]:
(df.sleep_total > df.awake).sum()

31

## Check missing values

In [18]:
df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230

In [16]:
df.notna()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,True,True,True,True,True,True,False,False,True,False,True
1,True,True,True,True,False,True,True,False,True,True,True
2,True,True,True,True,True,True,True,False,True,False,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
78,True,True,True,True,False,True,True,True,True,True,True
79,True,True,True,True,False,True,False,False,True,False,True
80,True,True,True,True,False,True,True,False,True,True,True
81,True,True,True,True,False,True,False,False,True,True,True
82,True,True,True,True,False,True,True,True,True,True,True

In [17]:
df.isna()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,False,False,False,False,False,False,True,True,False,True,False
1,False,False,False,False,True,False,False,True,False,False,False
2,False,False,False,False,False,False,False,True,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
78,False,False,False,False,True,False,False,False,False,False,False
79,False,False,False,False,True,False,True,True,False,True,False
80,False,False,False,False,True,False,False,True,False,False,False
81,False,False,False,False,True,False,True,True,False,False,False
82,False,False,False,False,True,False,False,False,False,False,False

In [20]:
df.isna().any()

name            False
genus           False
vore             True
order           False
conservation     True
sleep_total     False
sleep_rem        True
sleep_cycle      True
awake           False
brainwt          True
bodywt          False
dtype: bool

In [21]:
df.isna().sum()

name             0
genus            0
vore             7
order            0
conservation    29
sleep_total      0
sleep_rem       22
sleep_cycle     51
awake            0
brainwt         27
bodywt           0
dtype: int64

In [22]:
(df.isna().sum()).sum()

136

In [23]:
df[['name', 'genus']].notna().all()

name     True
genus    True
dtype: bool

In [24]:
df[['name', 'genus']].notna().sum()

name     83
genus    83
dtype: int64

In [25]:
df[['name', 'genus', 'vore']].notna().all()

name      True
genus     True
vore     False
dtype: bool

In [30]:
df.isna()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,False,False,False,False,False,False,True,True,False,True,False
1,False,False,False,False,True,False,False,True,False,False,False
2,False,False,False,False,False,False,False,True,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
78,False,False,False,False,True,False,False,False,False,False,False
79,False,False,False,False,True,False,True,True,False,True,False
80,False,False,False,False,True,False,False,True,False,False,False
81,False,False,False,False,True,False,True,True,False,False,False
82,False,False,False,False,True,False,False,False,False,False,False

In [26]:
df.isna().any(axis=1) # แถวนั้น ๆ มี missing values (na) อยู่หรือไม่

0      True
1      True
2      True
3     False
4     False
      ...
78     True
79     True
80     True
81     True
82     True
Length: 83, dtype: bool

In [31]:
df[df.isna().any(axis=1)].head(5) # แถวที่มี missing values

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.00
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.0155,0.48
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.35
5,Three-toed sloth,Bradypus,herbi,Pilosa,NaN,14.4,2.2,0.766667,9.6,NaN,3.85
6,Northern fur seal,Callorhinus,carni,Carnivora,vu,8.7,1.4,0.383333,15.3,NaN,20.49

In [28]:
df.notna().any(axis=1)

0     True
1     True
2     True
3     True
4     True
      ...
78    True
79    True
80    True
81    True
82    True
Length: 83, dtype: bool

In [32]:
df[df.notna().any(axis=1)].head(5) # แถวที่ไม่มี missing values

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [35]:
df.vore.isna()

0     False
1     False
2     False
3     False
4     False
      ...
78    False
79    False
80    False
81    False
82    False
Name: vore, Length: 83, dtype: bool

In [36]:
df.vore.isna().all()

False

In [38]:
df.vore.notna().any()

True

In [40]:
df[['brainwt', 'awake']].notna().all(axis=1)

0     False
1      True
2     False
3      True
4      True
      ...
78     True
79    False
80     True
81     True
82     True
Length: 83, dtype: bool

In [41]:
df[df[['brainwt', 'awake']].notna().all(axis=1)]

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
8,Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.9,0.07000,14.000
9,Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.0,0.09820,14.800
10,Goat,Capri,herbi,Artiodactyla,lc,5.3,0.6,NaN,18.7,0.11500,33.500
11,Guinea pig,Cavis,herbi,Rodentia,domesticated,9.4,0.8,0.216667,14.6,0.00550,0.728
13,Chinchilla,Chinchilla,herbi,Rodentia,domesticated,12.5,1.5,0.116667,11.5,0.00640,0.420
14,Star-nosed mole,Condylura,omni,Soricomorpha,lc,10.3,2.2,NaN,13.7,0.00100,0.060
15,African giant pouched rat,Cricetomys,omni,Rodentia,NaN,8.3,2.0,NaN,15.7,0.00660,1.000
16,Lesser short-tailed shrew,Cryptotis,omni,Soricomorpha,lc,9.1,1.4,0.150000,14.9,0.00014,0.005
17,Long-nosed armadillo,Dasypus,carni,Cingulata,lc,17.4,3.1,0.383333,6.6,0.01080,3.500
18,Tree hyrax,Dendrohyrax,herbi,Hyracoidea,lc,5.3,0.5,NaN,18.7,0.01230,2.950
19,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.0,0.00630,1.700
20,Asian elephant,Elephas,herbi,Proboscidea,en,3.9,NaN,NaN,20.1,4.60300,2547.000
21,Big brown bat,Eptesicus,insecti,Chiroptera,lc,19.7,3.9,0.116667,4.3,0.00030,0.023
22,Horse,Equus,herbi,Perissodactyla,domesticated,2.9,0.6,1.000000,21.1,0.65500,521.000
23,Donkey,Equus,herbi,Perissodactyla,domesticated,3.1,0.4,NaN,20.9,0.41900,187.000
24,European hedgehog,Erinaceus,omni,Erinaceomorpha,lc,10.1,3.5,0.283333,13.9,0.00350,0.770
25,Patas monkey,Erythrocebus,omni,Primates,lc,10.9,1.1,NaN,13.1,0.11500,10.000
27,Domestic cat,Felis,carni,Carnivora,domesticated,12.5,3.2,0.416667,11.5,0.02560,3.300
28,Galago,Galago,omni,Primates,NaN,9.8,1.1,0.550000,14.2,0.00500,0.200
31,Gray seal,Haliochoerus,carni,Carnivora,lc,6.2,1.5,NaN,17.8,0.32500,85.000
32,Gray hyrax,Heterohyrax,herbi,Hyracoidea,lc,6.3,0.6,NaN,17.7,0.01227,2.625
33,Human,Homo,omni,Primates,NaN,8.0,1.9,1.500000,16.0,1.32000,62.000
35,African elephant,Loxodonta,herbi,Proboscidea,vu,3.3,NaN,NaN,20.7,5.71200,6654.000
37,Macaque,Macaca,omni,Primates,NaN,10.1,1.2,0.750000,13.9,0.17900,6.800
39,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.7,0.00100,0.120
41,House mouse,Mus,herbi,Rodentia,nt,12.5,1.4,0.183333,11.5,0.00040,0.022
42,Little brown bat,Myotis,insecti,Chiroptera,NaN,19.9,2.0,0.200000,4.1,0.00025,0.010
44,Slow loris,Nyctibeus,carni,Primates,NaN,11.0,NaN,NaN,13.0,0.01250,1.400
47,Rabbit,Oryctolagus,herbi,Lagomorpha,domesticated,8.4,0.9,0.416667,15.6,0.01210,2.500
48,Sheep,Ovis,herbi,Artiodactyla,domesticated,3.8,0.6,NaN,20.2,0.17500,55.500
49,Chimpanzee,Pan,omni,Primates,NaN,9.7,1.4,1.416667,14.3,0.44000,52.200
51,Jaguar,Panthera,carni,Carnivora,nt,10.4,NaN,NaN,13.6,0.15700,100.000
53,Baboon,Papio,omni,Primates,NaN,9.4,1.0,0.666667,14.6,0.18000,25.235
54,Desert hedgehog,Paraechinus,NaN,Erinaceomorpha,lc,10.3,2.7,NaN,13.7,0.00240,0.550
57,Phalanger,Phalanger,NaN,Diprotodontia,NaN,13.7,1.8,NaN,10.3,0.01140,1.620
61,Giant armadillo,Priodontes,insecti,Cingulata,en,18.1,6.1,NaN,5.9,0.08100,60.000
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.6,0.02100,3.600
63,Laboratory rat,Rattus,herbi,Rodentia,lc,13.0,2.4,0.183333,11.0,0.00190,0.320
65,Squirrel monkey,Saimiri,omni,Primates,NaN,9.6,1.4,NaN,14.4,0.02000,0.743
66,Eastern american mole,Scalopus,insecti,Soricomorpha,lc,8.4,2.1,0.166667,15.6,0.00120,0.075
67,Cotton rat,Sigmodon,herbi,Rodentia,NaN,11.3,1.1,0.150000,12.7,0.00118,0.148
68,Mole rat,Spalax,NaN,Rodentia,NaN,10.6,2.4,NaN,13.4,0.00300,0.122
69,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.4,0.00570,0.920
70,Thirteen-lined ground squirrel,Spermophilus,herbi,Rodentia,lc,13.8,3.4,0.216667,10.2,0.00400,0.101
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.2,0.00033,0.048
73,Pig,Sus,omni,Artiodactyla,domesticated,9.1,2.4,0.500000,14.9,0.18000,86.250
74,Short-nosed echidna,Tachyglossus,insecti,Monotremata,NaN,8.6,NaN,NaN,15.4,0.02500,4.500
76,Brazilian tapir,Tapirus,herbi,Perissodactyla,vu,4.4,1.0,0.900000,19.6,0.16900,207.501
77,Tenrec,Tenrec,omni,Afrosoricida,NaN,15.6,2.3,NaN,8.4,0.00260,0.900
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230

In [39]:
df.notna().all() # (default axis=0) True = column contains no na value
# df.notna().all(axis=0) True = column contains no na/missing value

name             True
genus            True
vore            False
order            True
conservation    False
sleep_total      True
sleep_rem       False
sleep_cycle     False
awake            True
brainwt         False
bodywt           True
dtype: bool

In [42]:
# แสดง columns ที่ไม่มี missing values
df.columns[df.notna().all()] # (default axis=0) True = column contains no na value

Index(['name', 'genus', 'order', 'sleep_total', 'awake', 'bodywt'], dtype='object')

In [43]:
# แสดง columns ที่มี missing values
df.columns[df.isna().any()] # (default axis=0) True = column contains no na value

Index(['vore', 'conservation', 'sleep_rem', 'sleep_cycle', 'brainwt'], dtype='object')