In [1]:
import pandas as pd
print(f'pandas version: {pd.__version__}')

pandas version: 1.1.3

In [2]:
dat = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/mpg.csv')
dat

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [3]:
df = dat.sample(10).reset_index(drop=True)
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv
1,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize
2,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
3,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
4,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup
5,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv
6,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv
7,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
8,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup
9,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup

In [4]:
df.manufacturer.str.capitalize()

0        Nissan
1       Pontiac
2         Dodge
3    Volkswagen
4         Dodge
5       Mercury
6          Jeep
7          Audi
8         Dodge
9         Dodge
Name: manufacturer, dtype: object

In [5]:
df['trans_am'] = df.trans.map(lambda v: 'Auto' if v[0]=='a' else 'Manual').astype('category')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,trans_am
0,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv,Manual
1,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize,Auto
2,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,Auto
3,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact,Manual
4,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup,Manual
5,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,Auto
6,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv,Auto
7,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,Manual
8,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup,Auto
9,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup,Manual

In [6]:
def am(v):
    if v[0] == 'a':
        return 'Auto'
    else:
        return 'Manual'

In [7]:
df.trans.map(am)

0    Manual
1      Auto
2      Auto
3    Manual
4    Manual
5      Auto
6      Auto
7    Manual
8      Auto
9    Manual
Name: trans, dtype: object

In [8]:
def am2(v):
    return 'Auto' if v[0] == 'a' else 'Manual'

In [9]:
df.trans.map(am2)

0    Manual
1      Auto
2      Auto
3    Manual
4    Manual
5      Auto
6      Auto
7    Manual
8      Auto
9    Manual
Name: trans, dtype: object

In [13]:
df['drv2'] = df.drv.map({'f':'Front', 'r':'Rear', '4':'4-wheel'}).astype('category')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,trans_am,drv2
0,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv,Manual,4-wheel
1,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize,Auto,Front
2,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,Auto,4-wheel
3,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact,Manual,Front
4,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup,Manual,4-wheel
5,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,Auto,4-wheel
6,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv,Auto,4-wheel
7,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,Manual,Front
8,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup,Auto,4-wheel
9,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup,Manual,4-wheel